<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <activity
            android:name=".activity.PictureSelectActivity"
            android:screenOrientation="portrait" />
        <provider
            android:name="com.zbase.provider.BaseLocalFileProvider"
            android:authorities="${applicationId}.local.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/base_provider_file" />
        </provider>
    </application>

</manifest>
